{% extends '::layoutWlm.html.twig' %}

{% block body %}
<div class="row">
  <div id="content" class="span8">
    <h3>Masters</h3>
  </div>
  <div id="content" class="span4">
  <br>
    <form id="form-search-client" method="get" >
      <input name="searchField" type="text" class="input-medium search-query">
      <button type="submit" class="btn">Chercher</button>
    </form>
  </div>
</div>



<table class="table table-hover">
  <thead>
    <tr>
      <th>Nom</th>
      <th>Marque</th>
      <th>Type</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
  {% for master in masters %}  
  <tr>
    <td>      <a href="{{path('wlm_equipment_masterProfile', {'id':master.id} )}}"> {{ master.name}} </a></td>
    <td>      <a href="{{path('wlm_equipment_masterProfile', {'id':master.id} )}}"> {{ master.manufacturer}} </a></td>
    <td>      <a href="{{path('wlm_equipment_add',   {'id':master.id} )}}" role="button" class="btn btn-small" ><i class="icon-pencil">  </i>ajouter </a>

  </tr>
  {% endfor %}
  </tbody>
</table> 


{% endblock %}



