{% extends '::layoutWlm.html.twig' %}

{% block body %}
<div class="row">
  <div id="content" class="span8">
    <h3>Equipements </h3>
  </div>
</div>


<table class="table table-hover" id="list">
  <thead>
    <tr>
      <th>Nom</th>
       <th>Taille</th>
      
      
    </tr>
  </thead>
  <tbody>
  {% for equipment in equipments %}  
  <tr>
    <td>      <a href="{{path('wlm_equipment_equipmentProfile', {'id':equipment.id} )}}"> {{ equipment.code}} - {{ equipment.master.manufacturer}} - {{ equipment.master.name}}</a></td>
    <td>      <a href="{{path('wlm_equipment_equipmentProfile', {'id':equipment.id} )}}"> {{ equipment.size}} </a></td>
  </tr>
  {% endfor %}
  </tbody>
</table> 


{% endblock %}




