<table class="table table-hover">
  <thead>
    <tr>
      <th>Code Bar</th>
    <th>Date de départ</th>
      <th>Date de retour</th>
      <th>Matériel</th>
      <th>Montant Dû</th>
      <th>Rendu?</th>
      <th></th>
      
    </tr>
  </thead>
  <tbody>
  {% for rent in rents %}  
  <tr>
    <td> 	{{ rent.equipment.code			}} </td>
    <td>    {{ rent.outDate|date("d/m/Y")	}} </td>
    <td>    {{ rent.inDate|date("d/m/Y")	}} </td>
     <td>     	<a href="{{path('wlm_equipment_equipmentProfile', {'id':rent.equipment.id} )}}"> 
				{{rent.equipment.master.name	}} 
    			</a>  
    </td>
    
	    	<td>{{ rent.getAmountDue }} .-	 </td>
	<td> <input type="checkbox" 
				class="locationReturned" 
				status	  =   "{{ rent.equipment.status }}"
				pathSetOut=		"{{path('wlm_equipment_setOut', {'id':rent.equipment.id} )}}"
				pathSetIn =   	"{{path('wlm_equipment_setIn' , {'id':rent.equipment.id} )}}"= >
		</input> 
	</td>

	<td><a  href="{{path('wlm_rent_edit', {'id':rent.id} )}}"> <i class="icon-pencil"></i> </a> </td>
	
  </tr>
  {% endfor %}
  </tbody>
</table> 