{% render(controller("WlmClientBundle:Client:index")) %}

<div id="modal" class="modal show fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel"> </h3>
  </div>
  <div class="modal-body">
  <form id="modalForm" method="post" {{ form_enctype(form) }}>
{{ form_widget(form._token) }}
  
          		<dl class="dl-horizontal">
			<dt>Nom</dt>     <dd>{{ form_errors(form.lastName) }} {{ form_widget(form.lastName) }}</dd>
			<dt>Prénom</dt>  <dd>{{ form_errors(form.firstName) }} {{ form_widget(form.firstName) }}</dd>
			<dt>Ville</dt>   <dd>{{ form_errors(form.city) }}{{ form_widget(form.city) }}</dd>
			<dt>Adresse</dt> <dd>{{ form_errors(form.address) }}{{ form_widget(form.address) }}</dd>
			<dt>Code Postal</dt><dd>{{ form_errors(form.zip) }} {{ form_widget(form.zip) }}</dd>
			<dt>Email</dt>   <dd>{{ form_errors(form.email) }}{{ form_widget(form.email) }}</dd>			
		</dl>
          
          
    <input id="newClientModalSubmit" type="submit" value="Enregistrer" class="btn btn-primary" />
  </form>

  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Fermer</button>

  </div>
</div>



